<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <timestamp key="time" datePattern="yyyyMMdd_HHmmss" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/log_${time}.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="chapters.configuration" level="INFO"/>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>
